<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update smartphone</title>
    <style>
        body {
        background: #66CDAA;
        }
    </style>
</head>
<body>

<form th:method="PATCH" th:action="@{/phones/{id}(id=${smartphone.getId()})}" th:object="${smartphone}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <br/>
    <label for="yearOfRelease">Enter year of release: </label>
    <input type="text" th:field="*{yearOfRelease}" id="yearOfRelease"/>
    <div style="color:red" th:if="${#fields.hasErrors('yearOfRelease')}" th:errors="*{yearOfRelease}">Year Of Release Error</div>
    <br/>
    <label for="displayWidthInches">Enter display width: </label>
    <input type="text" th:field="*{displayWidthInches}" id="displayWidthInches"/>
    <div style="color:red" th:if="${#fields.hasErrors('displayWidthInches')}" th:errors="*{displayWidthInches}">Display Width Error</div>
    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>