<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Show</title>
  <style>
        body {
        background: #C0C0C0;
        }
  </style>
</head>
<body>
<p th:text="${smartphone.getName()}">VALUE</p>
<p th:text="${'Year of release: ' + smartphone.getYearOfRelease()}">VALUE</p>
<p th:text="${'Display Width: ' + smartphone.getDisplayWidthInches()}">VALUE</p>
<p th:text="${'Model id: ' + smartphone.getId()}">VALUE</p>

<a th:href="@{/phones/{id}/edit(id=${smartphone.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/phones/{id}(id=${smartphone.getId()})}">
  <input type="submit" value="Delete"/>
</form>
</body>
</html>